img{
  width: 100%;
  height: 100%;
}
body
{
  background-color: gray;
}
button{
  background-color: gray;
  border: none;
}
p
{
  font-size: 10px;
  padding: 0;
  text-align: center;
}
h1
{
  text-align: center;
  color: yellow;
}
h3
{
  text-align: center;
  color: yellow;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: yellow;
  color: black;
}
.column {
  float: left;
  width: 16%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.characterColumn{
  float: left;
  width: 25%;
}
.icon
{
  width: 40%;
  height: 40%;
  padding: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figcaption{
  padding: 10px;
}
